/* Setting */

* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-right: 0;
}

html,
body {
  scroll-behavior: smooth;
  position: relative;
  max-width: 100%;
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Text */
.center {
  text-align: center !important;
}
.uppercase {
  text-transform: uppercase !important;
}

/* Shadow */
.shadow {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.text-shadow {
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

/* Section title */
.section-title {
  font-size: 56px;
  font-weight: bold;
  display: block;
  text-align: left;
  /* margin: 2rem 10%; */
  color: #4b88d8;
  padding: 4rem 10%;
}
.section-subtitle {
  color: #fffcf9;
  display: block;
  text-align: center;
  letter-spacing: 0.2rem;
}

/* Colors */
.blue {
  color: #4b88d8;
}

.pink {
  color: #d07c99;
}

.black {
  color: #000;
}

.bg-white {
  background-color: #fafafa;
}

/* ----------------------- Header -------------------------------*/
header {
  display: flex;
  justify-content: space-around;
  background-color: #fafafa;
  height: 100px;
  width: 100%;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  transition: all 0.2s ease-in-out;
}

.banner-name {
  font-size: 32px;
  padding-bottom: 10px;
  font-weight: bold;
  text-shadow: 1px 2px 2px rgba(167, 108, 108, 0.2);
  cursor: pointer;
}

.banner-subtitle {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
}

ul.social-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

a.social-link-icon {
  padding: 0 0.5rem;
}

a.social-link-icon .fab {
  font-size: 24px;
  transition: all 0.3s ease-in-out;
  text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.15);
}

a.social-link-icon:hover .fab {
  color: #5b96e4;
  opacity: 0.8;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

nav.nav-link {
  display: flex;
  justify-content: space-between;
}

nav.nav-link a {
  font-size: 20px;
  margin: 1rem;
  color: #333;
  position: relative;
  transition: all 0.3s ease-in-out;
}

nav.nav-link a::after {
  content: '';
  width: 100%;
  height: 3px;
  background-color: cornflowerblue;
  display: block;
  position: absolute;
  transition: all 0.3s ease-out;
  opacity: 0;
  bottom: -20px;
}

nav.nav-link a:hover::after {
  opacity: 1;
  bottom: -15px;
}

nav.nav-link a.active::after {
  opacity: 1;
  bottom: -15px;
}

nav.nav-link a:hover {
  color: cornflowerblue;
}

nav.nav-link a.active {
  color: cornflowerblue;
}

.header-hidden .banner .banner-subtitle,
.header-hidden .social-link {
  display: none;
}

.header-hidden {
  height: 80px;
  border-bottom: 1px solid #949ba0;
}

/*----------------------- End Header ------------------------*/

/* ----------------- Home section ------------------------ */
#home {
  background-image: url('./assets/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 200vh;
  position: relative;
}

.home-container {
  position: absolute;
  top: 60vh;
  left: 50%;
  width: 60vw;
  height: 40vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  transform: translate(-50%, -50%);
}

.home-container h1,
.home-container p,
.home-info {
  text-align: center;
}

.home-container h1 {
  font-size: 70px;
  line-height: 70px;
  margin-bottom: 4rem;
}

.home-container h1 span {
  color: #5b96e4;
}

.home-container p {
  font-size: 1rem;
  margin-bottom: 2rem;
  color: #fafafa;
}

.home-container .home-info {
  width: 100%;
  display: flex;
  justify-content: center;
}

.home-container .home-info button {
  border: none;
  width: 16rem;
  height: 3.6rem;
  font-size: 1.1rem;
  border-radius: 10px;
  background-color: #00171f;
  opacity: 0.9;
  color: #fafafa;
  transition: all 0.2s ease-out;
}

.home-container .home-info button:nth-child(2) {
  margin-left: 2rem;
}

.home-container .home-info button:hover {
  transform: scale(1.1);
  color: #5b96e4;
}
/* -------------------- End Home section -------------------------*/

/*-------------------- About section ---------------------------*/
#about {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 100vh;
  background-color: rgba(245, 245, 245, 0.15);
}

.about-container {
  max-width: 800px;
  height: 60%;
  margin: auto;
  background-color: #fffcf9;
  display: flex;
}

.about-container .about-info {
  max-width: 50%;
  padding: 4rem 2.4rem;
}

.about-container .about-info h4 {
  display: block;
  text-align: center;
  font-size: 24px;
  line-height: 40px;
  margin-bottom: 2rem;
  color: #4b88d8;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
}

.about-container .about-info p {
  font-size: 18px;
  /* letter-spacing: 0.1rem; */
  /* font-style: italic; */
  font-weight: 500;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
}

.about-container img {
  width: 50%;
  padding: 4rem 2.4rem;
}
/* -------- End About section ------------------*/

/* ---------- Professional section --------------- */
#professional {
  width: 100%;
  height: calc(100vh - 200px);
  background-color: #36383a;
  /* margin-bottom: 10rem; */
}

.skills {
  max-width: 800px;
  margin: 4rem auto;
  color: #fafafa;
  display: flex;
  flex-direction: column;
}

.skills li {
  margin: 1.5rem auto;
  width: 100%;
  display: flex;
}

.skills li .skill-name {
  width: 25%;
  padding: 0 2rem;
  text-align: right;
}

.skill-bar {
  width: 75%;
  height: 10px;
  margin-top: 5px;
}

.skills li .skill-percent {
  background-color: #4b88d8;
  height: 100%;
  position: relative;
}

.skills li .skill-percent::after {
  content: ' ' attr(data-per) ' ';
  position: absolute;
  right: -3rem;
  top: -0.4rem;
}

#html-css {
  width: 90%;
  animation: htmlcss 2s ease-in;
}

#vanilla-javascript {
  width: 84%;
  animation: js 2s ease-in;
}

#node-js {
  width: 72%;
  animation: node 2s ease-in;
}

#react {
  width: 78%;
  animation: react 2s ease-in;
}

#bootstrap {
  width: 85%;
  animation: bootstrap 2s ease-in;
}

#git {
  width: 75%;
  animation: git 2s ease-in;
}

@keyframes htmlcss {
  0% {
    width: 35px;
  }
  100% {
    width: 90%;
  }
}

@keyframes js {
  0% {
    width: 35px;
  }
  100% {
    width: 84%;
  }
}

@keyframes node {
  0% {
    width: 35px;
  }
  100% {
    width: 72%;
  }
}

@keyframes react {
  0% {
    width: 35px;
  }
  100% {
    width: 78%;
  }
}

@keyframes bootstrap {
  0% {
    width: 35px;
  }
  100% {
    width: 85%;
  }
}

@keyframes git {
  0% {
    width: 35px;
  }
  100% {
    width: 75%;
  }
}

/* ---------- End Professional section --------------- */

/* Mountain */
.mountain {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
    url('./assets/mountain1.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250vh;
  width: 100%;
  position: relative;
}

/* ------------- Portfolio section ------------------ */
#portfolio {
  width: 100%;
  height: 60vh;
}

.portfolio-container {
  max-width: 80%;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.portfolio-container a {
  width: 250px;
  height: 300px;
  margin: 3rem 1rem;
  position: relative;
}

.portfolio-container a img {
  width: 100%;
  height: 100%;
  transition: all 0.2s ease-in-out;
}

.portfolio-container a .fa-search {
  position: absolute;
  left: 50%;
  top: calc(50% + 0.2rem);
  font-size: 2rem;
  color: #fff2f1;
  transform: translate(-50%, -50%);
  cursor: pointer;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.portfolio-container a:hover img {
  filter: brightness(0.6);
  transform: scale(1.05);
}

.portfolio-container a:hover .fa-search {
  opacity: 1;
  top: 50%;
}

/* ------------- End Portfolio section -------------- */

/* -------------- Experience section ---------------- */
#experience {
  height: 240vh;
  width: 100%;
}

.experience-container {
  width: 60%;
  margin: 4rem auto;
}

.experience-card {
  height: 12rem;
  border-left: 3px solid #4b88d8;
  padding: 2rem 4rem;
  position: relative;
}

.experience-card::before {
  content: '';
  width: 1.2rem;
  height: 1.2rem;
  background-color: #4b88d8;
  position: absolute;
  left: 0;
  top: 40%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.experience-card .experience-year {
  color: #4b88d8;
}

.experience-card .experience-title {
  color: #fafafa;
  font-size: 24px;
  line-height: 60px;
  text-transform: uppercase;
}

.experience-card p {
  color: #cccccc;
  letter-spacing: 0.1rem;
}
/* -------------- End Experience section ---------------- */

.working {
  background: url('./assets/working.jpg') no-repeat center;
  background-size: cover;
  width: 100%;
  height: 50vh;
  filter: brightness(0.7);
}

/* ------------- Contact section -------------------*/
#contact {
  position: absolute;
  bottom: 50vh;
  background-color: #36383a;
  max-width: 60%;
  left: 50%;
  height: 33rem;
  transform: translate(-50%, 45%);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#contact .section-title {
  color: #cccccc;
  text-align: center;
  padding: 1rem;
}

.contact-container {
  display: flex;
  padding: 1rem 3rem;
}

.contact-info {
  width: 50%;
  padding: 1rem;
}

.contact-text {
  padding: 1rem;
  padding-right: 0;
  margin-bottom: 2rem;
  font-size: 1.1rem;
  color: #cccccc;
}

.contact-details {
  padding: 1rem;
  color: #808080;
}

.contact-form {
  width: 50%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.contact-group {
  margin: 1rem 0;
  height: 2.5rem;
  border-radius: 5px;
  border: none;
  padding: 0.5rem;
}

.contact-group:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.send-button {
  background-color: #00a1e4;
  font-size: 18px;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  filter: brightness(0.9);
  color: #00171f;
}

.send-button:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  filter: brightness(1);
}

#contact .social-link {
  justify-content: center;
}

#contact .social-icon {
  font-size: 24px;
  padding: 0.5rem;
  transition: all 0.2s ease-in-out;
}

#contact .social-icon:hover {
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
/* ------------- End Contact section -------------------*/

/* Footer */
footer {
  height: 5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #36383a;
}

footer img {
  width: 4rem;
  height: 4rem;
}

footer p {
  color: #949ba0;
}
/* End Footer */

/* RESPONSIVE */
.toggle-button {
  width: 30px;
  display: none;
  /* position: absolute; */
  /* top: 2rem; */
  /* right: 1rem; */
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 24px;
}

.toggle-button .bar {
  height: 5px;
  width: 100%;
  background-color: #000;
  color: #000;
  border-radius: 10px;
}

@media (max-width: 1000px) {
  header .social-link {
    display: none;
  }
}

.slider-container {
  display: none;
}

@media (max-width: 820px) {
  nav.nav-link {
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    position: absolute;
    top: 100%;
    background-color: #36383a;
    opacity: 0;
    transition: all 0.2s ease-in-out;
  }

  nav.nav-link.open {
    opacity: 1;
  }

  nav.nav-link a {
    color: #cccccc;
  }

  .banner-subtitle {
    display: none;
  }

  .toggle-button {
    display: flex;
  }

  nav.nav-link a::after {
    display: none;
  }

  nav.nav-link a {
    text-align: center;
  }

  .portfolio-container {
    position: relative;
  }

  .portfolio-container a {
    display: none;
  }

  .portfolio-container a.show {
    display: flex;
  }

  .slider-container {
    display: flex;
    position: absolute;
    /* background-color: #fafafa; */
    width: 100%;
    justify-content: space-between;
    bottom: 50%;
    transform: translateY(50%);
    font-size: 50px;
  }

  .slider-container div {
    color: #cccccc;
    transition: all 0.2s ease-in-out;
  }

  .slider-container div:hover {
    transform: scale(1.05);
    text-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }

  /* .slider-container .slide-left {
    left: -100%;
  } */
}
